*{
    padding: 0px;
    margin: 0px;
}

.navbar.navbar-expand-lg.bg-body-tertiary{
    background-color: #A60D0D !important;
    width: 100%;
}

.navbar-brand{
    color: white;
    font-size: 50px;
}

.navbar-brand:hover{
    color: white;
}

main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

article{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 22px;
}