*{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #F4F4F4;
}

nav{
    background-color: #111;
    padding: 15px 40px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s ease;
}

nav a:hover{
    background-color: #C41230;
    border-radius: 10px;
}

nav ul{
    display: flex;
    gap: 4px;
    list-style: none;
}

header{
    background-color: #C41230;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header h1{
    font-family: 'Merriweather', Georgia, serif;
}

header h1 span {
    color: rgba(255,255,255,0.75);
    font-weight: 400;
    font-family: 'Merriweather', Georgia, serif;
    
}

header form{
    display: flex;
    align-items: center;
    gap: 0px;
}

header form label{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

header form input{
    border-radius: 10px 0 0 10px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    margin: 0px;
    border-right: none;
    outline: none;
    
}

header form button img{
    width: 22px;
}

header form button{
    background-color: white;
    border: 2px solid #ccc;
    border-left: none;
    border-radius: 0 10px 10px 0;
    padding: 5px 10px;
    cursor: pointer;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    
}

.card-principal{
    background-color: white;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    margin: 10px 0px 10px 0px;
    width: 70%;
    border-radius: 15px;
}

.card-principal img{
    width: 100%;
    height: 400px;
    display: block;
    border-radius: 5px;
}

.card-principal figure{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-principal figcaption{
    margin-bottom: 20px;
    background-color: #F9F9F9;
}

.categoria{
    background-color: #C41230;
    color: white;
    border-radius: 5px;
    padding: 2px 10px;
}

.card-conteudo a{
    text-decoration: none;
    color: #111;
}

.card-conteudo a:hover{
    color: #C41230;
    text-decoration: underline;
}

.card-conteudo h2{
    margin: 10px 0px;
}

.card-conteudo p{
    margin: 10px 0px;
}

.card-conteudo ul{
    list-style: none;
    border-left: 3px solid #C41230;
    padding-left: 12px;
    margin-bottom: 10px;
}

.card-conteudo ul li {
    margin-bottom: 6px;
    font-size: 13px;
    color: #555;
}

.card-conteudo h3{
    font-size: 14px;
    color: #555;
    font-weight: normal;
    margin-bottom: 8px;
}

aside{
    margin: 10px;
    display: flex;
    width: 23%;
    flex-direction: column;
    height: 20%;
    gap: 20px;
}

aside h2{
    color: #C41230;
    font-size: 30px;
}

aside a{
    text-decoration: none;
    color: #111;
    text-align: center;
    padding: 10px;
}

aside ul{
    list-style: none;
    border-left: 4px solid #C41230;
}

aside li{
    margin-top: 5px;
}

footer{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    background-color: #111;
    color: white;
    padding: 40px 40px;
}

footer img{
    width: 20%;
}

footer a img{
    width: 50%;
    border-radius: 10px;
}

.links-sociais ul{
    display: flex;
    list-style: none;
    width: 150px;
}

.links-sociais{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo-senac{
    width: 100%;
}

footer address{
    display: flex;
    align-items: center;
    justify-content: center;
}   

footer address img{
    width: 4%;
    margin-right: 5px;
}